{% extends "base_generic.html" %}
{% block title %}Udvælg til FG{% endblock  %}
{% block content %}
  <h1>
    Time i {{ modul.forløb.klasse.kortnavn}}{% if idag %} idag {% else %} den {{ modul.afholdt }}{% endif %}:
    {{ modul.forløb.emne.titel}} ({{ modul.forløb.emne.fag}}).
  </h1>
  <p>Skabelon <code>prepare/fokusgruppe_liste.html</code>.</p>
  {% if navneliste_checkboxe %}
  <h3>Elever ({{ ikke_tildelt }}) der kan tildeles modulets fokusgruppe</h3>
  <form action="" method="post">
    {% csrf_token %}
    {{ navneliste_checkboxe }}<br>
    <input type="submit" value="Tilmeld"/>
  </form>
  {% else %}
    <p>Ingen FG-medlemmer registreret.</p>
  {% endif %} 
{% endblock %}