<h2>
    {{ modul.forløb }}
</h2>
<p>Tilmeldinger til modul {{ modul.id }}, {{ modul.afholdt }}</p>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}<br>
    <p>Der er {{ roster_free_count }} kandidater klar til tilmelding.</p>
    {% if ryst_posen %}<p>Posen blev rystet.</p>{% endif %}
    <table class="table table-striped">
        <tr>
            <th>Tilmeldes</th>
            <th>Elev</th>
        </tr>
        {% for candidate in fokusgruppe_liste %}
            <tr>
                <td>
                    <input type="checkbox"   value='{{candidate.id}}' 
                           name='for_action' id='for_action' >
                    </td>
                <td>{{ candidate.elev }}</td>
                </tr>
        {% endfor %}
    </table>
    {% if klasseliste %}
    <table>
        {% for fg in klasseliste %}
            <tr>
                <td>{{ fg }} {{ fg.e.efternavn }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        Ingen "klasseliste"
    {% endif %}
    <input type="submit" value="Tilmeld">
</form>